.message-wrapper {
  display: flex;
  background-color: #f3f3f3;
  text-align: center;
}

.container-alert-message {
  display: flex;
  width: 100%;
  justify-content: center;
  position: absolute;
  right: 0;
}
.th-isRead {
  display: flex;
  justify-content: space-between;
}

.span {
  font-size: 11px;
  padding: 0 10px;
  color: #f3f3f3;
  background-color: #2a5360;
  border-radius: 5px;
}

#container-button {
  display: flex;
  justify-content: space-evenly;
}

#button-message {
  font-size: 0.3vh;
  color: #f3f3f3 !important;
}

@media (min-width: 900px) {
  #button-message {
    font-size: 3vh;
    color: #f3f3f3 !important;
  }
  .span {
    font-size: 30px;
    padding: 0 10px;
    color: #f3f3f3;
    background-color: #2a5360;
    border-radius: 5px;
  }
}
