.login-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15vh;
}

.container-form-login {
  width: 80%;
}

.submit {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.btn {
 
}

a,.link-register {
  text-decoration: none;
}
