.login-wrapper {
  flex-direction: column;
  text-align: center;
  margin-top: 5vh;
}

.container-form-login {
  color: #2a5360;
  margin-left: 5vh;
  width: 80%;
}

.title-login {
  text-align: center;
}

.submit {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

a,
.link-register {
  text-decoration: none;
}

.btn {
  font-weight: bold;
}

.title-login {
  text-align: center;
}
