.login-wrapper {
  display: flex;
  justify-content: center;
  background-color: #f3f3f3;
  text-align: center;
  position: relative;
}

.container-alert {
  padding-top: 5vh;
  position: absolute;
}

.container-form-login {
  display: flex;
  border: #2a5360;
  align-items: center;
  justify-content: center;
  color: #2a5360;
  position: relative;
  align-items: center;
  padding-top: 20vh;
}

.form-login {
  align-content: flex-end;
  flex-direction: column;
}

.title-login {
  display: flex;
  justify-content: center;
  color: #2a5360;
}

.submit {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

a,
.link-register {
  text-decoration: none;
  font-weight: 600;
  color: rgb(4, 31, 63);
}

.btn {
  color: #2a5360 !important;
  font-weight: bold !important;
}

.title-login {
  text-align: center;
  stroke: #f3f3f3;
}

@media (min-width: 900px) {
  .title-login {
    font-size: 5vh;
    margin-bottom: 5vh;
  }
  .form-login {
    width: 50%;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 5vh;
    border: double;
    border-radius: 2vh;
  }

  .form-outline {
    font-size: 3vh;
  }

  #input-login {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}

@media (min-width: 1100px) {
}
