.register-wrapper {
  flex-direction: column;
  text-align: center;
  height: 6vh;
}

.container-alert {
  height: 100%;
  display: flex;
  justify-content: center;
}

#alert-success,
#alert-warning {
  height: 100%;
  width: 100%;
  margin: 0;
}

.container-form-register {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #f3f3f3;
  color: #2a5360;
}

.form-label {
  font-weight: 500;
  font-style: italic;
}

.title-register {
  text-align: center;
}

@media (min-width: 768px) {
}
