.register-wrapper {
  text-align: center;
  height: 6vh;
}

.container-alert {
  display: flex;
  height: 100%;
  margin-top: 2vh;
  margin-bottom: 1vh;
  height: 100%;
}

#alert-success,
#alert-warning {
  height: 100%;
  width: 100%;
  text-align: center;
}

.container-form-register {
  display: flex;
  justify-content: center;
  background-color: #f3f3f3;
  color: #2a5360;
}

.form-label {
  font-weight: 500;
  font-style: italic;
}

.title-register {
  display: flex;
  justify-content: center;

  color: #a28b57;
  text-align: center;
}

@media (min-width: 900px) {
  .form-register {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 5vh;
    border: double;
    border-radius: 2vh;
    border-color: #a28b57;
    background-image: linear-gradient(
      312.25deg,
      hwb(52 40% 52%) 0%,
      rgba(55, 55, 53, 0) 50.19%
    );
  }
}
