.offer-wrapper {
  display: flex;
 
}

.container-alert-create-offer {
  position: absolute;
}

.container-card-offer {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-bottom: 7vh;
}

.form-control {
  text-align: center;
}
@media (min-width: 900px) {
}
