.offer-wrapper {
  display: flex;
}

.container-alert-create-offer {
  position: absolute;
  padding: 3vh;
  top: 45%;
  left: 20%;
}

.container-card-offer {
  display: flex;
  justify-content: center;
  text-align: center;
}

.form-control {
  text-align: center;
}
@media (min-width: 900px) {
  .container-alert-create-offer {
    position: absolute;
    padding: 3vh;
    top: 55%;
    left: 40%;
  }
}
