.offer-wrapper {
  display: grid;
  flex-wrap: nowrap;
}

.container {
  flex-wrap: wrap;
  padding: 3vh;
}

.card {
  justify-content: center;
  text-align: center;
}

.card-header {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

@media (min-width: 900px) {
  .offer-wrapper {
    height: 100vh;
    display: flex;
    flex-wrap: nowrap;
  }
  .card {
    display: grid;
    justify-content: flex-start;
    text-align: center;
  }
}
