.home-wrapper {
  display: flex;
  flex-direction: column;
  align-content: center;
  height: 100%;
  width: 100%;
}

.container-image {
  padding: 5vh;
  display: flex;
  justify-content: center;
}

.img-fluid img-thumbnail {
  width: 100%;
  box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.23);
}

section {
  padding: 3vh;
  color: #2a5360;
  margin-bottom: 4vh;
}

.container-carrousel {
  padding: 2vh;
  position: scroll;
}

Carousel {
  box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.23);
}

@media (min-width: 900px) {
  section {
    margin: auto;
  }
}
