
.container-card-topic {
  display: flex;
  justify-content: center;
  padding-block: 17vh;
}

.container-alert-create-topic {
  position: absolute;
  left: 20%;
  padding: 2vh;
}

@media (min-width: 900px) {
  .container-alert-create-topic {
    position: relative;
    left: 41%;
    padding: 2vh;
  }
  #card-topic{
    width: 50rem;
  }
}
