.topic-wrapper {
  height: 100vh;
}

.list-cardsTopics {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  position: sticky;
}

@media (min-width: 768px) {
  .card-topic {
    display: flex;
  }
}
