.navbar {
  width: 100%;
  background-color: #f3f3f3;
  box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.23);
}

.rounded-circle {
  height: 9vh;
  box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.23);
  width: 70px;
  margin-left: 20px;
  background-color: #2a5360;
}

.container-nav {
  display: flex;
  justify-content: space-between;
  width: 280px;
  margin-right: 15px;
}

.logo-NB {
  font-weight: bold;
  text-decoration: none;
  color: #2a5360;
  font-size: 2.5em !important;
}

.logo-NB:hover {
  color: #a28b57;
  font-size: 3em !important;
}

@media (min-width: 800px) {
  .navbar {
    display: flex;
    height: 10vh;
    font-size: 2em;
  }

  .rounded-circle {
    height: 9vh;
    width: 8vh;
  }

  .container-nav {
    display: flex;
    justify-content: space-between;
    width: 40vh;
    margin-right: 10vh;
  }
}
