.profil-wrapper {
  background-color: #f3f3f3;
  align-items: center;
  text-align: center;
  position: relative;
  padding: 3vh;
  padding-top: 9vh;
}

.container-alert-profil {
  width: 80%;
  position: absolute;
  top: 1%;
  left: 12%;
}

#accordion-profil {
  border: #2a5360;
  color: #2a5360;
}

.accordion-button {
  color: #2a5360;
}

.accordion-button collapsed {
  color: #2a5360;
}
#button-delete {
  height: 100%;
  justify-content: center;
}

.info-user {
  color: #2a5360;
  font-weight: bold;
}

@media (min-width: 900px) {
  .profil-wrapper {
   padding-top: 12vh;
  }
  .info-user {
    font-size: 0.5em;
  }
}
