.footer-container {
  display: flex;
  justify-content: space-around;
  background-color: var(--duckBlue);
  color: #ffc519;
  width: 100%;
  position: fixed;
  bottom: 0;
}

.container-1 {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100px;
  width: 10em;
  font-weight: bold;
}

.container-2 {
  display: flex;
  align-items: center;
  width: 10em;
  font-weight: lighter;
  height: 100px;
}
.container-3 {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100px;
  width: 10em;
  font-weight: bold;
}

.copyright {
  align-self: flex-end;
}

@media (min-width: 768px) {
  .footer-container {
    font-size: 2em;
  }
}
