.footer-container {
  display: flex;
  justify-content: space-around;
  background-color: #2a5360;
  color: #ffc519;
  border: black;
  width: 100%;
  position: fixed;
  bottom: 0;
}

.container-1 {
  justify-content: center;
  font-weight: bold;
}

.container-2 {
  font-weight: lighter;
  padding-top: 70px;
}
.container-3 {
  font-weight: bold;
}

@media (min-width: 768px) {
  .footer-container {
    font-size: 2em;
  }
}
