#footer-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #2a5360;
  color: #ffc519;
  width: 100%;
  /* height: 8vh;
  position: fixed;
  bottom: 0; */
}

.container-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-weight: bold;
}

.container-2 {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 50px;
  font-weight: lighter;
}

#container-2 {
  font-size: 0.8em;
}

.container-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-weight: bold;
}

.logo-mail {
  color: #ffc519;
  font-size: 2.5em !important;
}
.logo-instagram {
  color: #ffc519;
  font-size: 2.5em !important;
}

.copyright {
  font-size: 1.3vh;
}

@media (min-width: 768px) {
  #footer-container {
    font-size: 1.5em;
  }

  .container-2 {
    margin-top: 1em;
    font-size: 1em !important;
    font-weight: lighter;
  }

  #container-2 {
    font-size: 0.5em;
  }

  .logo-mail {
    color: #ffc519;
    margin-bottom: 0.5vh;
    font-size: 1.8em !important;
  }
  .logo-instagram {
    color: #ffc519;
    margin-bottom: 0.5vh;
    font-size: 1.8em !important;
  }
}
