.Login {
  display: flex;
  justify-content: center;
  text-align: center;
}

.form-login {
  border-color: 20px black;
  width: 100%;
}

.title-login {
  font-size: larger;
  font-weight: bold;
  color: var(--primary);
}
