.createMessage-wrapper {
  display: grid;
  justify-content: center;
  background-color: #f3f3f3;
  position: relative;
  padding-block: 9vh;
}

.container-alert {
  position: absolute;
  top: 3%;
}

.form-message {
  border-radius: 1vh;
  align-items: center;
}

.select {
  padding: 1vh;
}
.span-message {
  color: #2a5360;
  font-weight: bold;
  padding: 1vh;
}

@media (min-width: 900px) {
  .container-alert {
    font-size: 1em;
    padding: 3vh;
  }
  .form-message {
    margin: auto;
  }
}
