.createMessage-wrapper {
  display: flex;
  justify-content: center;
  background-color: #f3f3f3;
  position: relative;
  padding-block: 9vh;
}

.container-alert-create-message {
  position: absolute;
  width: 80%;
  top: 3%;
}

#card-create-message {
  width: 18rem;
}

.form-message {
  border-radius: 1vh;
  align-items: center;
}

.select {
  padding: 1vh;
}
.span-message {
  color: #2a5360;
  font-weight: bold;
  padding: 1vh;
}

@media (min-width: 900px) {
  .container-alert-create-message {
    position: absolute;
    width: 80%;
    top: 1%;
  }

  #card-create-message {
    width: 35rem;
  }
}
